<!DOCTYPE html>
<html>
<head>
    <title>Admin Toko</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/products">Produk</a> |
        <a href="/purchases">Pembelian</a> |
        <a href="/purchases/new">Input Pembelian</a>
    </nav>
    <hr>

    <%- body %>
</body>
</html>
